HELP.md
back/target/
!back/.mvn/wrapper/maven-wrapper.jar
!back/**/src/main/**/target/
!back/**/src/test/**/target/

### IntelliJ IDEA ###
back/.idea
back/*.iws
back/*.iml
back/*.ipr

back/build/
!back/**/src/main/**/build/
!back/**/src/test/**/build/

### VS Code ###
front/.vscode/

front/build/
front/node_modules/